:root{
  --clr-violet: #5c58c9;
  --clr-violet--hover:#383589;
  --clr-back-body: #13131d;
  --clr-launch: #21212d;
  --clr-launch-hover: #15151e;
  --clr-white: #f9f9ff;
  --clr-white-hover: #bfbfc7;
  --clr-btn: #292934; 
  --clr-btn-hover: #212136; 
  --clr-btn-form: #1b1b23;
  --clr-btn-form-hover: #17171f;
  --clr-border: #e6e0ef1a;
  --clr-border-hover: #e2e2e2; 
  --clr-gray: #888686;
  --clr-gray-hover: #5c5959;
  --clr-menu-dropdown: #1b1b1b;
  --clr-border-input: #5555556c;
}

/* app-container ==> app */

/* --estilizando el contenedor que envuelve la app */

.app-container{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "sidebar navbar"
  "sidebar main";
}

.hide-sidebar{
  grid-template-columns: 7em 5fr;
}

/* launch-header ==> header */ 

/* --estilizando el contenedor que envuelve el header, es decir, el navbar de la app */

.launch-navbar{
  background-color: var(--clr-launch);
  display: flex;
  justify-content: space-between;
  padding: 1.8em 2em;
  border-bottom: 1px solid var(--clr-border);
  grid-area: navbar;
}

.launch-drop{
  display: flex;
  align-items: center;
  position: relative;
}

.tasks-drop-mobile{
  position: absolute;
  top: 100%;
  height: 60vh;
  width: 20em;
  padding: 1em;
  background-color: var(--clr-launch-hover);
  box-shadow: 0 0 0 500vmax rgba(0, 0, 0, .5);
}

.logo-mobile{
  display: none;
  margin-right: .5em;
}

.arrow-disabeld{
  display: none;
  color: var(--clr-violet);
}

.arrow-disabeld:hover{
  color: var(--clr-violet-hover);
}

.launch-add-task{
  display: flex;
  align-items: center;
}

.launch-btn-task{
  background-color: var(--clr-violet);
  color: var(--clr-white);
  border: 1px solid var(--clr-violet);
  font-size: .8em;
}

.launch-btn-task:hover{
  background-color: var(--clr-btn-hover);
  border-color: var(--clr-violet);
}

.btn-task-mobile{
  display: none;
  padding: .1em 2em;
  font-size: .5em;
}

.btn-task-further{
  font-size: 4em;
}

.dropdown:hover{
  cursor: pointer;
  color: var(--clr-gray-hover);
}

.menu-dropdown-container{
  background-color: var(--clr-launch);
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 2em 3em;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

.dropdown-content{
  display: flex;
  flex-direction: column;
}

.launch-create-task{
  position: absolute;
  top: 25%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  padding: 2em;
  width: 30%;
  background-color: var(--clr-launch);
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  box-shadow: 0 0 0 500vmax rgba(0, 0, 0, .5);
  z-index: 500;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

.launch-create-task::-webkit-scrollbar-thumb {
  background-color: var(--clr-back-body);
}

.launch-actions-task{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.launch-actions-title-task{
  font-size: 1.2em;
}

.launch-form-task{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: .5em 0;
}

.launch-form-bubble{
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.launch-form-subtasks-bubble{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5em;
}

.input-subtasks{
  flex: 2;
}

.launch-form-input{
  background-color: transparent;
  border: 1px solid var(--clr-border-input);
}

.launch-form-btn{
  background-color: var(--clr-violet);
  margin-top: .8em;
}

.launch-form-btn:hover{
  background-color: var(--clr-violet-hover);
}

.btn-subtasks{
  background-color: var(--clr-white);
}

.btn-subtasks:hover{
  background-color: var(--clr-white-hover);
}

.close-launch-form:hover{
  cursor: pointer;
  color: var(--clr-gray-hover);
}

/* sidebar-container ==> aside */

/* --estilizando el contenedor que envuelve al sidebar, es decir, la barra lateral de la app. se renderizaran todas las tareas en forma resumida */

.sidebar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-launch);
  border-right: 1px solid var(--clr-border);
  padding: 1.8em 2em;
  grid-area: sidebar;
}

.sidebar-top-wrapper{
  overflow-y: auto;
}

.sidebar-top-wrapper::-webkit-scrollbar-thumb{
  background-color: var(--clr-launch);
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  margin-bottom: 2.5em;
}

.logo-image{
  width: 2em;
}

.logo-text{
  font-weight: 600;
}

.dataset-icon{
  width: 100%;
  text-align: center;
}

.tasks-container{
  display: flex;
  flex-direction: column;
  gap: .8em;    
  margin-top: 1em;
}

.task-dash{
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .5em 0;
  cursor: pointer;
}

.task-dash:hover{
  background-color: var(--clr-btn);
  color: var(--clr-gray-hover);
  border-radius: .5em;
}

.dashboard{
  font-size: 1.2em;
}

.task-dash-title{
  width: 10em;
}

.hide-title{
  width: 6em;
}

.btn-hide-sidebar{
  display: flex;
  align-items: center;
  gap: .5em;
  color: var(--clr-gray);
}

.btn-hide-sidebar:hover{
  color: var(--clr-gray-hover);
}

.btn-hide-sidebar:hover > .hide-icon{
  color: var(--clr-gray-hover);
}

/* main-content==> main */

.main-content{
  grid-area: main;
  overflow-y: auto;
}

/* tasks-targets-container ==> contenedor del main */
  
/* --estilizando el contenedor que envuelve al main, donde, se renderizaran todas las tareas que cree el usuario de forma especifica, el cual pueda interactuar si lo desea */

.tasks-targets-container{
  margin: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.tasks-target-column{
  display: flex;
  flex-direction: column;
  gap: .8em;
} 

.task-target-column-name{
  display: flex;
  align-items: center;
  gap: .5em;
}

.tasks-name-circle-todo{
  background-color: #00fcb8;
  padding: .4em;
  border-radius: 100vh;
}
 
.tasks-name-circle-doing{
  background-color: #969eff;
  padding: .4em;
  border-radius: 100vh;
}

.tasks-name-circle-done{
  background-color: #00fcb8;
  padding: .4em;
  border-radius: 100vh;
}

.task-target{
  background-color: var(--clr-launch);
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: 1em;
  transition: padding, background, 300ms ease;
}

.task-target:hover{
  background-color: var(--clr-launch-hover);
  /* padding-bottom: 6em; */
  height: 15em;
} 

.task-target:hover > .task-target-center{
  display: block;
  overflow-y: auto;
}

.task-target-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.task-target-title{
  flex: 2;
}

.close-target{
  font-size: 1em;
}

.close-target:hover{
  color: var(--clr-btn);
  cursor: pointer;
}
  
.task-target-title{
  color: var(--clr-white);
}

.task-target-subtasks{
  margin-top: .5em;
}

.task-target-center{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.span-subtasks{
  color: var(--clr-violet);
}

.span-subtasks-empty{
  text-decoration: line-through;
  color: var(--clr-btn);
}

@media screen and (max-width: 1500px) {
  .launch-create-task{
    width: 40%;
  }
}

@media screen and (max-width: 1350px) {
  .tasks-targets-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .launch-create-task{
    width: 50%;
  }
}

@media screen and (max-width: 950px){
  .launch-create-task{
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .tasks-targets-container{
    grid-template-columns: repeat(1, 1fr);
  }

  .logo-mobile{
    display: block;
  }

  .arrow-disabeld{
    display: block;
  }

  .app-container{
    grid-template-areas: 
    "navbar navbar"
    "main main";
  }

  .sidebar-container{
    display: none;
  }

  .btn-task-desktop{
    display: none;
  }
  
  .btn-task-mobile{
    display: block;
  }
}